@tailwind base;
@tailwind components;
@tailwind utilities;

.text-stroke-3 {
    text-shadow: 3px 2px 0 #202992;
}

header{
    background: rgb(32,41,146);
    background: linear-gradient(180deg, rgba(32,41,146,1) 80%, rgba(252,238,5,1) 100%);
}

.slick-slide img {
    display: block;
    margin: 0 auto;
    padding: 0 auto;
}

.card {
    height: 185px !important;
    width: 185px !important;

}

@media (min-width: 1024px) {
    .card {
        height: 210px !important;
        width: 300px !important;
    }
}

@media (max-width: 348px) {
    .card {
        height: 200px !important;
        width: 180px !important;
    }
}

.slick-slide div {
    display: block;
    margin: 0 auto;
    padding: 0 auto;
}

.modal {
    background: rgb(255,248,136);
    background: linear-gradient(0deg, rgba(252,238,5,1) -20%, rgba(35,42,134,1) 40%);
}

.swiper-slide {
    width: 300px; /* Ajuste o tamanho dos slides conforme necessário */
    height: auto; /* Para manter a altura automática */
  }
  .swiper-container {
    width: 100%; /* Largura do contêiner do Swiper */
    max-width: 800px; /* Largura máxima do carrossel */
    margin: 0 auto; /* Centraliza o contêiner */
  }